{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "trailingComma": "none"
}
